Test/Test.xcodeproj/xcuserdata
Test/Test.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
Test.xcodeproj/project.xcworkspace/xcuserdata/evgenyplenkin.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
